@model ContactViewModel


<div class="card">
    <div class="card-body">

        <h1> Name=@Model.Name  </h1>
        <br />

        <h1> Mobil= @Model.Name </h1>
        <br />

        <h1> Email= @Model.Email </h1>
        <br />

        <h1> Titel= @Model.Titel </h1>
        <br />

        <h1> Description= @Model.Description </h1>
        <br />
    </div>







</div>